apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: tasklist-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/MaurenK/UpdatedTasklistProject'
    targetRevision: HEAD
    path: deploy/k8s
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
